// Brand Colors
$primary: #37538a;
$primary-dark: #263c67;
$accent: #e6edfc;

// Neutrals
$white: #ffffff;
$black: #111111;
$gray: #666666;

// Fonts
$font-main: "Arial", sans-serif;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
